# Here is the config file for nano
# We touched it
# Or if make this for all system:: see more in: /etc/nanorc

set tabsize 4
set tabstospaces

## If you would like nano to have keybindings that are more "usual",
## such as ^O for Open, ^F for Find, ^H for Help, and ^Q for Quit,
## then uncomment these:
bind ^X cut main
bind ^C copy main
bind ^V paste all
bind ^Q exit all
bind ^S savefile main
bind ^W writeout main
bind ^O insert main
